<!DOCTYPE html>
<html lang="en">
<head>
  <title>TheGym Usage Visualizer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/login.css")' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

	<form action="@routes.Application.submit" method="POST" class="form-signin">
		<center><h1 class="form-signin-heading text-muted">Sign In</h1></center>
		<input type="email" class="form-control" placeholder="Email address" name="email" required="" autofocus="">
		<input type="number" class="form-control" placeholder="Password" name="pin" required="">
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			Sign In
		</button>
	</form>

</div>

    </body>
</html>
    
    
    
    
    
    


